@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

body {
    font-family:'Poppins', sans-serif;
    background-image: url("icons.jfif");
    background-repeat: repeat;
    width: 100%;
    overflow: hidden; 
}

h1 {
    margin: 200px 200px 0px 200px;
}

p {
    margin: 0px 200px 200px 200px;
}